<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>餐品详情</title>
</head>
<script>
    function toModify(elem) {
        window.location.href = elem.dataset.image_host_url + '/page/modify/cuisine?cuisineCode=' + elem.dataset.cuisuine_code;
    }
</script>
<body>
<div>
	[[${cuisineDetail.storeInfo.name}]]
</div>
<div style="font-size: 25px">
	[[${cuisineDetail.name}]]
</div>
<button onclick="toModify()" th:data-cuisuine_code="${cuisineDetail.code}"
		th:data-image_host_url="${imageHostUrl}">
	编辑
</button>
<div style="font-size: 20px;">
	[[${#numbers.formatInteger(cuisineDetail.calorie,0)}]] 千卡
</div>
<div style="display: flex; flex-wrap: wrap;">
	<div style="margin: 10px; text-align: center; width: 300px"
		 th:each="ingredient:${cuisineDetail.ingredientList}">
		<div>
			<img style="height: 100px; width: 100px;"
				 th:src="${imageHostUrl}+'/static/ingredient-image?ingredientCode='+${ingredient.code}">
		</div>
		<div style="display: flex; text-align: center;margin-left: 50px">
			<div style="font-size: 20px; margin-right:20px">
				[[${ingredient.name}]]
			</div>
			<div style="font-size: 20px">
				[[${ingredient.weight}]] 克
			</div>
		</div>
	</div>
</div>

</body>
</html>