<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutrition.nutritionservice.dao.CuisineAdditionalInfoDao">
    <resultMap id="BaseResultMap" type="com.nutrition.nutritionservice.vo.CuisineAdditionalInfoVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cuisine_code" jdbcType="VARCHAR" property="cuisineCode"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="rating_score" jdbcType="DOUBLE" property="ratingScore"/>
        <result column="ele_url" jdbcType="VARCHAR" property="eleUrl"/>
        <result column="meituan_url" jdbcType="VARCHAR" property="meituanUrl"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cuisine_code, price, rating_score, ele_url, meituan_url, image_url, create_time, 
    update_time
  </sql>
    <sql id="Insert_Column_List">
    cuisine_code, price, rating_score, ele_url, meituan_url, image_url
  </sql>
    <select id="selectByCuisineCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cuisine_additional_info
        where cuisine_code = #{cuisineCode}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.nutrition.nutritionservice.vo.CuisineAdditionalInfoVo" useGeneratedKeys="true">
        insert into cuisine_additional_info (
        <include refid="Insert_Column_List"/>
        )
        values (#{cuisineCode,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{ratingScore,jdbcType=DOUBLE},
        #{eleUrl,jdbcType=VARCHAR}, #{meituanUrl,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.nutrition.nutritionservice.vo.CuisineAdditionalInfoVo" useGeneratedKeys="true">
        insert into cuisine_additional_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cuisineCode != null">
                cuisine_code,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="ratingScore != null">
                rating_score,
            </if>
            <if test="eleUrl != null">
                ele_url,
            </if>
            <if test="meituanUrl != null">
                meituan_url,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cuisineCode != null">
                #{cuisineCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="ratingScore != null">
                #{ratingScore,jdbcType=DOUBLE},
            </if>
            <if test="eleUrl != null">
                #{eleUrl,jdbcType=VARCHAR},
            </if>
            <if test="meituanUrl != null">
                #{meituanUrl,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                #{imageUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByCuisineCodeSelective" parameterType="com.nutrition.nutritionservice.vo.CuisineAdditionalInfoVo">
        update cuisine_additional_info
        <set>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="ratingScore != null">
                rating_score = #{ratingScore,jdbcType=DOUBLE},
            </if>
            <if test="eleUrl != null">
                ele_url = #{eleUrl,jdbcType=VARCHAR},
            </if>
            <if test="meituanUrl != null">
                meituan_url = #{meituanUrl,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where cuisine_code = #{cuisineCode}
    </update>
</mapper>