<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutrition.nutritionservice.dao.UserNutrientWeightSumDailyDao">
    <resultMap id="BaseResultMap" type="com.nutrition.nutritionservice.vo.UserNutrientWeightSumDailyVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="nutrient_code" jdbcType="INTEGER" property="nutrientCode"/>
        <result column="weight" jdbcType="DOUBLE" property="weight"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, `date`, nutrient_code, weight, create_time, update_time
  </sql>
    <sql id="Insert_Column_List">
    uuid, `date`, nutrient_code, weight
  </sql>
    <select id="selectByUuidAndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_nutrient_weight_sum_daily where uuid = #{uuid} and date = #{date}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.nutrition.nutritionservice.vo.UserNutrientWeightSumDailyVo" useGeneratedKeys="true">
        insert into user_nutrient_weight_sum_daily (
        <include refid="Insert_Column_List"/>
        )
        values (#{uuid,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{nutrientCode,jdbcType=INTEGER},
        #{weight,jdbcType=DOUBLE})
    </insert>
    <insert id="batchInsert">
        insert into user_nutrient_weight_sum_daily (
        <include refid="Insert_Column_List"/>
        )
        values
        <foreach collection="userNutrientWeightSumDailyVoList" item="item" index="index" separator=",">
            (
            #{item.uuid,jdbcType=VARCHAR},
            #{item.date,jdbcType=DATE},
            #{item.nutrientCode,jdbcType=INTEGER},
            #{item.weight,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>
    <update id="updateWeightByUuidDateAndNutrientCode"
            parameterType="com.nutrition.nutritionservice.vo.UserNutrientWeightSumDailyVo">
    update user_nutrient_weight_sum_daily
    set
      weight = #{weight}
    where uuid = #{uuid,jdbcType=VARCHAR} and
      `date` = #{date,jdbcType=DATE} and
      nutrient_code = #{nutrientCode,jdbcType=INTEGER}
  </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="userNutrientWeightSumDailyVoList" item="item" index="index" open="" close="" separator=";">
            update user_nutrient_weight_sum_daily
            set
            weight = #{item.weight}
            where uuid = #{item.uuid,jdbcType=VARCHAR} and
            `date` = #{item.date,jdbcType=DATE} and
            nutrient_code = #{item.nutrientCode,jdbcType=INTEGER}
        </foreach>
    </update>
</mapper>