<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutrition.nutritionservice.dao.UserCategoryIntakesModelDao">
  <resultMap id="BaseResultMap" type="com.nutrition.nutritionservice.vo.user.UserCategoryIntakesModelVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="calorie" jdbcType="INTEGER" property="calorie" />
    <result column="processed_grains" jdbcType="INTEGER" property="processedGrains" />
    <result column="unprocessed_grains" jdbcType="INTEGER" property="unprocessedGrains" />
    <result column="mixed_beans" jdbcType="INTEGER" property="mixedBeans" />
    <result column="tuber" jdbcType="INTEGER" property="tuber" />
    <result column="general_vegetables" jdbcType="INTEGER" property="generalVegetables" />
    <result column="dark_vegetables" jdbcType="INTEGER" property="darkVegetables" />
    <result column="fruit" jdbcType="INTEGER" property="fruit" />
    <result column="meat" jdbcType="INTEGER" property="meat" />
    <result column="poultry" jdbcType="INTEGER" property="poultry" />
    <result column="aquatic" jdbcType="INTEGER" property="aquatic" />
    <result column="egg" jdbcType="INTEGER" property="egg" />
    <result column="dairy" jdbcType="INTEGER" property="dairy" />
    <result column="soybean" jdbcType="INTEGER" property="soybean" />
    <result column="nut" jdbcType="INTEGER" property="nut" />
    <result column="oil" jdbcType="INTEGER" property="oil" />
    <result column="salt" jdbcType="INTEGER" property="salt" />
    <result column="goal" jdbcType="TINYINT" property="goal" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, calorie, processed_grains, unprocessed_grains, mixed_beans, tuber, general_vegetables, 
    dark_vegetables, fruit, meat, poultry, aquatic, egg, dairy, soybean, nut, oil, salt, 
    goal, create_time
  </sql>
  <select id="selectLastByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_category_intakes_model
    where uuid = #{uuid} order by create_time desc limit 1
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nutrition.nutritionservice.vo.user.UserCategoryIntakesModelVo" useGeneratedKeys="true">
    insert into user_category_intakes_model (uuid, calorie, processed_grains, 
      unprocessed_grains, mixed_beans, tuber, 
      general_vegetables, dark_vegetables, fruit, 
      meat, poultry, aquatic, 
      egg, dairy, soybean, 
      nut, oil, salt, goal)
    values (#{uuid,jdbcType=VARCHAR}, #{calorie,jdbcType=INTEGER}, #{processedGrains,jdbcType=INTEGER}, 
      #{unprocessedGrains,jdbcType=INTEGER}, #{mixedBeans,jdbcType=INTEGER}, #{tuber,jdbcType=INTEGER}, 
      #{generalVegetables,jdbcType=INTEGER}, #{darkVegetables,jdbcType=INTEGER}, #{fruit,jdbcType=INTEGER}, 
      #{meat,jdbcType=INTEGER}, #{poultry,jdbcType=INTEGER}, #{aquatic,jdbcType=INTEGER}, 
      #{egg,jdbcType=INTEGER}, #{dairy,jdbcType=INTEGER}, #{soybean,jdbcType=INTEGER}, 
      #{nut,jdbcType=INTEGER}, #{oil,jdbcType=INTEGER}, #{salt,jdbcType=INTEGER}, #{goal,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nutrition.nutritionservice.vo.user.UserCategoryIntakesModelVo" useGeneratedKeys="true">
    insert into user_category_intakes_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="calorie != null">
        calorie,
      </if>
      <if test="processedGrains != null">
        processed_grains,
      </if>
      <if test="unprocessedGrains != null">
        unprocessed_grains,
      </if>
      <if test="mixedBeans != null">
        mixed_beans,
      </if>
      <if test="tuber != null">
        tuber,
      </if>
      <if test="generalVegetables != null">
        general_vegetables,
      </if>
      <if test="darkVegetables != null">
        dark_vegetables,
      </if>
      <if test="fruit != null">
        fruit,
      </if>
      <if test="meat != null">
        meat,
      </if>
      <if test="poultry != null">
        poultry,
      </if>
      <if test="aquatic != null">
        aquatic,
      </if>
      <if test="egg != null">
        egg,
      </if>
      <if test="dairy != null">
        dairy,
      </if>
      <if test="soybean != null">
        soybean,
      </if>
      <if test="nut != null">
        nut,
      </if>
      <if test="oil != null">
        oil,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="goal != null">
        goal
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="calorie != null">
        #{calorie,jdbcType=INTEGER},
      </if>
      <if test="processedGrains != null">
        #{processedGrains,jdbcType=INTEGER},
      </if>
      <if test="unprocessedGrains != null">
        #{unprocessedGrains,jdbcType=INTEGER},
      </if>
      <if test="mixedBeans != null">
        #{mixedBeans,jdbcType=INTEGER},
      </if>
      <if test="tuber != null">
        #{tuber,jdbcType=INTEGER},
      </if>
      <if test="generalVegetables != null">
        #{generalVegetables,jdbcType=INTEGER},
      </if>
      <if test="darkVegetables != null">
        #{darkVegetables,jdbcType=INTEGER},
      </if>
      <if test="fruit != null">
        #{fruit,jdbcType=INTEGER},
      </if>
      <if test="meat != null">
        #{meat,jdbcType=INTEGER},
      </if>
      <if test="poultry != null">
        #{poultry,jdbcType=INTEGER},
      </if>
      <if test="aquatic != null">
        #{aquatic,jdbcType=INTEGER},
      </if>
      <if test="egg != null">
        #{egg,jdbcType=INTEGER},
      </if>
      <if test="dairy != null">
        #{dairy,jdbcType=INTEGER},
      </if>
      <if test="soybean != null">
        #{soybean,jdbcType=INTEGER},
      </if>
      <if test="nut != null">
        #{nut,jdbcType=INTEGER},
      </if>
      <if test="oil != null">
        #{oil,jdbcType=INTEGER},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=INTEGER},
      </if>
      <if test="goal != null">
        #{goal,jdbcType=TINYINT}
      </if>
    </trim>
  </insert>
</mapper>