<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutrition.nutritionservice.dao.UserHistoricalWeightSumDailyDao">
  <resultMap id="BaseResultMap" type="com.nutrition.nutritionservice.vo.user.UserHistoricalWeightSumDailyVo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
    <result column="date" jdbcType="DATE" property="date"/>
    <result column="processed_grains" jdbcType="INTEGER" property="processedGrains"/>
    <result column="unprocessed_grains" jdbcType="INTEGER" property="unprocessedGrains"/>
    <result column="mixed_beans" jdbcType="INTEGER" property="mixedBeans"/>
    <result column="tuber" jdbcType="INTEGER" property="tuber"/>
    <result column="general_vegetables" jdbcType="INTEGER" property="generalVegetables"/>
    <result column="dark_vegetables" jdbcType="INTEGER" property="darkVegetables"/>
    <result column="fruit" jdbcType="INTEGER" property="fruit"/>
    <result column="meat" jdbcType="INTEGER" property="meat"/>
    <result column="poultry" jdbcType="INTEGER" property="poultry"/>
    <result column="aquatic" jdbcType="INTEGER" property="aquatic"/>
    <result column="egg" jdbcType="INTEGER" property="egg"/>
    <result column="dairy" jdbcType="INTEGER" property="dairy"/>
    <result column="soybean" jdbcType="INTEGER" property="soybean"/>
    <result column="nut" jdbcType="INTEGER" property="nut"/>
    <result column="oil" jdbcType="INTEGER" property="oil"/>
    <result column="salt" jdbcType="INTEGER" property="salt"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, `date`, processed_grains, unprocessed_grains, mixed_beans, tuber, general_vegetables, 
    dark_vegetables, fruit, meat, poultry, aquatic, egg, dairy, soybean, nut, oil, salt, 
    create_time, update_time
  </sql>
  <sql id="Insert_Column_List">
    uuid, `date`, processed_grains, unprocessed_grains, mixed_beans, tuber, general_vegetables,
    dark_vegetables, fruit, meat, poultry, aquatic, egg, dairy, soybean, nut, oil, salt
  </sql>
  <select id="selectByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_historical_weight_sum_daily
    where uuid = #{uuid}
  </select>
  <select id="selectByUuidAndDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_historical_weight_sum_daily
    where uuid = #{uuid} and `date` = #{date}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id"
          parameterType="com.nutrition.nutritionservice.vo.user.UserHistoricalWeightSumDailyVo" useGeneratedKeys="true">
    insert into user_historical_weight_sum_daily (
    <include refid="Insert_Column_List"/>
    )
    values (#{uuid,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{processedGrains,jdbcType=INTEGER},
    #{unprocessedGrains,jdbcType=INTEGER}, #{mixedBeans,jdbcType=INTEGER}, #{tuber,jdbcType=INTEGER},
    #{generalVegetables,jdbcType=INTEGER}, #{darkVegetables,jdbcType=INTEGER}, #{fruit,jdbcType=INTEGER},
    #{meat,jdbcType=INTEGER}, #{poultry,jdbcType=INTEGER}, #{aquatic,jdbcType=INTEGER},
    #{egg,jdbcType=INTEGER}, #{dairy,jdbcType=INTEGER}, #{soybean,jdbcType=INTEGER},
    #{nut,jdbcType=INTEGER}, #{oil,jdbcType=INTEGER}, #{salt,jdbcType=INTEGER})
  </insert>
  <update id="updateByUuidAndDate" parameterType="com.nutrition.nutritionservice.vo.user.UserHistoricalWeightSumDailyVo">
    update user_historical_weight_sum_daily
    set uuid = #{uuid,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=DATE},
      processed_grains = #{processedGrains,jdbcType=INTEGER},
      unprocessed_grains = #{unprocessedGrains,jdbcType=INTEGER},
      mixed_beans = #{mixedBeans,jdbcType=INTEGER},
      tuber = #{tuber,jdbcType=INTEGER},
      general_vegetables = #{generalVegetables,jdbcType=INTEGER},
      dark_vegetables = #{darkVegetables,jdbcType=INTEGER},
      fruit = #{fruit,jdbcType=INTEGER},
      meat = #{meat,jdbcType=INTEGER},
      poultry = #{poultry,jdbcType=INTEGER},
      aquatic = #{aquatic,jdbcType=INTEGER},
      egg = #{egg,jdbcType=INTEGER},
      dairy = #{dairy,jdbcType=INTEGER},
      soybean = #{soybean,jdbcType=INTEGER},
      nut = #{nut,jdbcType=INTEGER},
      oil = #{oil,jdbcType=INTEGER},
      salt = #{salt,jdbcType=INTEGER}
    where uuid = #{uuid} and `date` = #{date}
  </update>
</mapper>