<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutrition.nutritionservice.dao.UserStatusInfoDao">
  <resultMap id="BaseResultMap" type="com.nutrition.nutritionservice.vo.UserStatusInfoVo">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
    <result column="custom_info" jdbcType="TINYINT" property="customInfo"/>
    <result column="shown_info_collect_window" jdbcType="TINYINT" property="shownInfoCollectWindow"/>
    <result column="shown_process_window" jdbcType="TINYINT" property="shownProcessWindow"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, custom_info, shown_info_collect_window, shown_process_window, create_time, 
    update_time
  </sql>
  <sql id="Insert_Column_List">
    id, uuid, custom_info, shown_info_collect_window, shown_process_window
  </sql>
  <select id="selectByUuid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_status_info
    where uuid = #{uuid}
  </select>

  <insert id="insertSelective" keyColumn="id" keyProperty="id"
          parameterType="com.nutrition.nutritionservice.vo.UserStatusInfoVo" useGeneratedKeys="true">
    insert into user_status_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="customInfo != null">
        custom_info,
      </if>
      <if test="shownInfoCollectWindow != null">
        shown_info_collect_window,
      </if>
      <if test="shownProcessWindow != null">
        shown_process_window,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="customInfo != null">
        #{customInfo,jdbcType=TINYINT},
      </if>
      <if test="shownInfoCollectWindow != null">
        #{shownInfoCollectWindow,jdbcType=TINYINT},
      </if>
      <if test="shownProcessWindow != null">
        #{shownProcessWindow,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByUuidSelective" parameterType="com.nutrition.nutritionservice.vo.UserStatusInfoVo">
    update user_status_info
    <set>

      <if test="customInfo != null">
        custom_info = #{customInfo,jdbcType=TINYINT},
      </if>
      <if test="shownInfoCollectWindow != null">
        shown_info_collect_window = #{shownInfoCollectWindow,jdbcType=TINYINT},
      </if>
      <if test="shownProcessWindow != null">
        shown_process_window = #{shownProcessWindow,jdbcType=TINYINT},
      </if>
    </set>
    where uuid = #{uuid}
  </update>
</mapper>